<div class="card my-5">
  <div class="card-body">

	<form ngNativeValidate>
	
		<div class="form-group">
        	<label for="fN">First name:</label>
			<input [(ngModel)]="member.firstName" id="fN" name="fN" class="form-control mb-4" type="text" required>
   		</div>

        <div class="form-group">
        	<label for="lN">Last name:</label>
			<input [(ngModel)]="member.lastName" id="lN" name="lN" class="form-control mb-4" type="text" required>
   		</div>

        <div class="form-group">
        	<label for="email">email:</label>
			<input [(ngModel)]="member.email" id="email" name="email" class="form-control mb-4" type="text" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #em="ngModel">
   		</div>
		
		   <div *ngIf="em.errors &&(em.touched || em.dirty)" class ="alert alert-danger">
			 invalid email
		   </div>  

        <button class="btn btn-primary col-2" (click)="saveMember()">Save</button>
  				
	</form>

	<br><br>
	
	<a [routerLink]="['/member-list']">back to list</a>
  </div>
</div>


